.item-list {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem em linhas */
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  overflow-y: auto; /* Garante que a barra de rolagem apareça */
  height: calc(100vh - 100px); /* Ajusta a altura para garantir que a rolagem seja visível */
}

.item-card {
  flex: 1 1 calc(30% - 20px); /* Ajusta o tamanho dos cards para serem menores e caberem melhor */
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: rgba(255, 0, 255, 0.7); /* Magenta transparente */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.item-card img {
  width: 100%;
  border-radius: 8px;
}

.item-card h3 {
  color: #fff;
  margin: 10px 0;
}

.item-card p {
  color: #fff;
}

.item-card button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.item-card:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}
